# mac annoying files..
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# emacs
*.*~

# pycharm
.idea*

examples/Session09/test_images/
students/EricAdams/decorating_mailroom/Fred_Flintstone.txt
students/EricAdams/decorating_mailroom/Jeff_Bezos.txt
students/EricAdams/decorating_mailroom/William_Gates_III.txt
students/EricAdams/decorating_mailroom/decorator_in_work.py
students/EricAdams/decorating_mailroom/funcLog.py
students/EricAdams/decorating_mailroom/mailroom.py
students/EricAdams/decorating_mailroom/make_donors.py
students/EricAdams/decorating_mailroom/monitor_mailroom.txt
students/EricAdams/decorating_methods/
students/EricAdams/fluentPython/
students/EricAdams/log_it.py
students/EricAdams/mailroom_pkg/
students/EricAdams/monitor_mailroom.txt
students/EricAdams/pytest_raises_emulation/
students/EricAdams/session04/sherlock.txt
students/EricAdams/session04/trigrams.txt
students/EricAdams/session04/trigrams_original.py
students/EricAdams/session05/except_exercise.py
students/EricAdams/session05/except_test.py
students/EricAdams/session06/Jeff Bezos.txt
students/EricAdams/session07/file_out.txt
students/EricAdams/session07/html_render_keep.py
students/EricAdams/session07/html_render_orig.py
students/EricAdams/session07/run_html_render_flow.txt
students/EricAdams/session07/sample_html.html
students/EricAdams/session07/test1
students/EricAdams/session07/test_html_output1.html
students/EricAdams/session07/test_html_output2.html
students/EricAdams/session07/test_html_output3.html
students/EricAdams/session07/test_render_with_indent.py
students/EricAdams/session08/scopes_example.py
students/EricAdams/session08/test_html_output5.html
students/EricAdams/session08/test_html_output6.html
students/EricAdams/session08/test_html_output7.html
students/EricAdams/session08/test_html_output8.html
students/EricAdams/session09/Eric.txt
students/EricAdams/session09/Fred_Flintstone.txt
students/EricAdams/session09/Jeff_Bezos.txt
students/EricAdams/session09/Mark_Zuckerberg.txt
students/EricAdams/session09/Paul_Allen.txt
students/EricAdams/session09/William_Gates_III.txt
students/EricAdams/session09/mailroom_non_oo.py
students/EricAdams/spring_quartr_final_project/airports.csv
students/EricAdams/temp_render_file.html
students/EricAdams/timing_context_manager/generator_timer_context_manager_write_to_file_obj2.py
students/EricAdams/timing_context_manager/timer.txt
students/EricAdams/spring_quartr_final_project/countries.csv
students/EricAdams/spring_quartr_final_project/navaids.csv
students/EricAdams/spring_quartr_final_project/runways.csv
students/EricAdams/session10/mailroom.py
