certifi==2018.1.18
chardet==3.0.4
Django==2.0.3
idna==2.6
iexfinance==0.3.1
mock==2.0.0
numpy==1.14.2
pandas==0.21.0
pbr==3.1.1
python-dateutil==2.7.0
pytz==2018.3
requests==2.18.4
-e git+git@github.com:mattmaeda/IntroPython-2017.git@17c3eba63e2cf7b181adfcd18ed5290733c4e7cd#egg=screener&subdirectory=students/mattmaeda/stockscreener
six==1.11.0
urllib3==1.22
